{#
/**
 * @file about.html.twig
 * Default theme implementation to present Default entity data.
 *
 * This template is used when viewing Default entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_about()
 *
 * @ingroup themeable
 */
#}
{% if events %}
    <div width="1,200px" class="yriL">
        <div width="100%" class="ilpLeV">
            <span class="ivzsxx"></span>
            <form action="/e-pharm/event" method="get" class="search">
                <input placeholder="Search" name="keys" class="cAwIuR" value="{{ search }}">
                <span class="fLrcjA">
                    <button type="submit">
                <i name="SEARCH" font-size="icon" color="icon" class="fa fa-search"></i>
                        </button>
            </span>
            </form>
        </div>
    </div>
    <div class="dacuFr">
        <div class="cWWxaz">
            <div display="flex" class="iNTbff">
                {% if get %}
                    <div class="dsGFaG"><a href="/e-pharm/event">All</a></div>
                {% else %}
                    <div class="bkzBvv">All</div>
                {% endif %}
                {% for tag in tags %}
                    {% if get == tag %}
                        <div class="bkzBvv">{{ tag }}</div>
                    {% else %}
                        <div class="dsGFaG"><a href="/e-pharm/event?tags={{ tag }}">{{ tag }}</a></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div display="flex" class="fSsnif">
        {% for event in events %}
            <div class=" event
            {% if loop.index%3 == 0 %} end {% endif %}
            {% if event.expired %}
            bSHJMg
            {% else %}
            eBeRpv
            {% endif %}
            ">
                <a class="fOtgzp" href="{{ path('entity.event.canonical', {'event': event.id.value}) }}">
                    <div class="kZuHUf">
                        <div class="giwJrm">
                            <div class="Owdni">
                                <span class="etLNEt">{{ event.field_date.value|date("Y-m-d") }}</span>
                                {% if event.check_event %}
                                <span type="success" class="cUAFfx">Enrolled</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="isAOXn">
                            <div><h3 class="flCmuI">{{ event.name.value }}</h3>
                            </div>
                        </div>
                        <div class="hFnlYM">
                            <ul class="eNSAVL">
                                <li class="CardInfo__Info-sc-1ty8kif-2 lbZLFv">
                                    <i class="fa fa-map-marker-alt"></i>
                                    <span class="hMzfje">{{ event.field_location.value }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
                <div class="event list-tags eclIQj">
                    <div class="gPcWZD">
                        {% for tagEntity in  event.field_tags %}
                          {% if loop.index <= 3 %}
                            <a href="/e-pharm/event?tags={{ tagEntity.entity.name.value }}"
                               class="iyiBrq">{{ tagEntity.entity.name.value }}</a>
                          {% endif %}
                          {% if loop.index == 4 %}
                              <a href="{{ path('entity.event.canonical', {'event': event.id.value}) }}"
                                 class="iyiBrq">...</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endif %}
