{% if medias %}
<div class="leBAWZ about-home">
    <div class="dacuFr">
        <div display="flex" class="dUVjnM">
            <div class="ffcmhf">Press Release</div>
            <a variant="default" class="jzqdsa" href="/media-release"><span
                        class="fjQIzu">More</span></a></div>
    </div>
    <div display="flex" class="cFlllN">
        {% for media in medias %}
        <div width="1,0.3333333333333333" class="bwndEN event {{ loop.index }}
            {% if loop.index%3 ==0 %} end {% endif %}"><a class=" gsvDvo"
                                                            href="{{ path('entity.news.canonical', {'news': media.id.value}) }}">
                <div style="background-image: url({{ media.field_media.entity.field_media_image.entity.uri.value | image_style('original') }})"
                     class="dCVoiR"></div>
                <div class="kZuHUf">
                    <div class="jdoHDE">
                        <div class="cLNuli">
                            <div class="fwejcs">
                                {#<div class="iFBalX"></div>#}
                                {{ media.Owner.name.value }}
                            </div>
                            <span class="kVIvyA">{{ media.field_publish_date.value|date("Y-m-d") }}</span></div>
                    </div>
                    <div class="isAOXn">
                        <div>
                            <h3 class="flCmuI">{{ media.name.value }}</h3>
                            <p class="itSPxh">{{ media.field_description.value|striptags }}</p></div>
                    </div>
                </div>
            </a>
            <div class=" new-home list-tags eclIQj">
                <div class="gPcWZD">
                    {% for tagEntity in  media.field_tags %}
                        <a href="/news?tags={{ tagEntity.entity.name.value }}"
                           class="iyiBrq">{{ tagEntity.entity.name.value }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endif %}