<!-- Add you custom twig html here -->
<ul class="member-menu">
  <li><a href="/user/{{ uid }}/member/article">Bulletins and Articles</a></li>
  <li><a href="/user/{{ uid }}/member/event/calendar">Event Calendars</a></li>
  <li><a href="/user/{{ uid }}/member/galleries">Image Galleries</a></li>
  <li><a href="/user/{{ uid }}/member/faq">Knowledge Databases</a></li>
  <li><a href="/user/{{ uid }}/member/profile">Profile Directories</a></li>
  <li><a href="/user/{{ uid }}/member/qrcode">QR Code</a></li>
</ul>