{% if media %}
  <article class="faq-wrapper">
    <div class="jWxJo">
      {% for node in media %}
        <div class="gEzcmW">
          <a href="{{ path('entity.node.canonical', {'node': node.nid.value}) }}">
            <div
                style="background-image: url({{ node.field_media[0].entity.field_media_image.entity.uri.value | image_style('max_325x325') }})"
                class="cmYSky">
            </div>
          </a>
          <div class="biunsS">{{ node.title.value }}</div>
          <div class="ktLFkQ">{{ node.field_venue.value }}</div>
          <div class="ktLFkQ">{{ node.field_date.value }}</div>
        </div>
      {% endfor %}

    </div>
  </article>
{% endif %}
{% if uid == current_uid %}
  <div class="edit-button col-xs-12 faq-button">
    <div class="submit-button">
      <a href="/admin/{{ uid }}/manage/content?destination={{ uri }}&type=image_gallery" class="submit-btn">Manage Galleries</a>
    </div>
    <div class="submit-button">
      <a href="/node/add/image_gallery?destination={{ uri }}" class="submit-btn">Add Gallery</a>
    </div>
  </div>
{% endif %}
