<div class="Grid__Box-f9ujw0-0 dacuFr">
    <div display="flex" class="Grid__Box-f9ujw0-0 Grid__Flex-f9ujw0-1 hZIrar"><h2 class="Title-qxmy6q-0 LoUXX">Pharm
            Dir</h2>
        <div width="1,200px" class="Grid__Box-f9ujw0-0 dsnieQ">
            <div width="100%" class="Input__StyledInput-sc-1kwnvoy-0 ilpLeV">
                <form action="/e-pharm/pharm-dir" method="get" class="search">
                    <input placeholder="Search company name" name="key" class="cAwIuR" value="{{ search }}">
                    <span class="fLrcjA">
                    <button type="submit">
                <i name="SEARCH" font-size="icon" color="icon" class="fa fa-search"></i>
                        </button>
            </span>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="Grid__Box-f9ujw0-0 hFkgUL">
    <div display="block" class="Grid__Box-f9ujw0-0 flTYXC">
        <div class="Grid__Box-f9ujw0-0 gcrakC">
            <div display="flex" class="Grid__Box-f9ujw0-0 Grid__Flex-f9ujw0-1 fSsnif">
                {% for pharm in pharm_dir %}
                    <div class="event
            {% if loop.index%3 == 0 %} end {% endif %} iRgpNO">
                        <a variant="vertical" class="Card__Wrapper-sc-1phbti1-0 kBceAS"
                           href="{{ path('entity.pharm_dir.canonical', {'pharm_dir': pharm.id.value}) }}">
                            <div class="Card__Cover-sc-1phbti1-1 eOFNUV"
                                 style="background-image: url({{ pharm.field_thumb.entity.field_media_image.entity.uri.value | image_style('original') }})"></div>
                            <div class="Card__Container-sc-1phbti1-3 kZuHUf">
                                <div class="CardMeta__MetaContent-mwcsl3-0 isAOXn">
                                    <div><h3 class="CardMeta__Title-mwcsl3-1 flCmuI">{{ pharm.name.value }}</h3></div>
                                    <div class="CardMeta__Content-mwcsl3-3 eclIQj"></div>
                                </div>
                                <div class="Card__Footer-sc-1phbti1-4 hFnlYM">
                                    <ul class="CardInfo__StyledCardInfo-sc-1ty8kif-0 eNSAVL">
                                        <li class="CardInfo__Info-sc-1ty8kif-2 lbZLFv">
                                            <i name="phone" font-size="icon" color="icon"
                                               class="fa fa-phone-alt"></i>
                                            <span class="CardInfo__Text-sc-1ty8kif-1 hMzfje">{{ pharm.field_phone.value }}</span>
                                        </li>
                                        <li class="CardInfo__Info-sc-1ty8kif-2 lbZLFv">
                                            <i name="location"
                                               font-size="icon" color="icon"
                                               class="fa fa-map-marker-alt"></i><span
                                                    class="CardInfo__Text-sc-1ty8kif-1 hMzfje">{{ pharm.field_address.value }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a></div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
