{#
/**
 * @file about.html.twig
 * Default theme implementation to present Default entity data.
 *
 * This template is used when viewing Default entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_about()
 *
 * @ingroup themeable
 */
#}
{% if drug_search %}
    <div class="Grid__Box-f9ujw0-0 List__FilterBox-vdcued-0 fJCdzw">
        <form class=hnOCtg" action="/e-pharm/drug-search" method="get">
            <div display="flex" class="hZIrar">
                <div class="hePnaS">
                    <div class="qSKwc">
                        <div class="iJnVjR">
                            <label for="activeIngredients">Name</label>
                        </div>
                        <div class="bqFJvH">
                            <div class="hagSsM">
                                <div width="100%" class="ilpLeV">
                                    <span class="ivzsxx"></span>
                                    <input name="name" placeholder="Search..." id="activeIngredients" class="hxkgST"
                                           value="{{ name }}">
                                    <span class="fLrcjA"></span>
                                </div>
                            </div>
                            <div class="dNOhWF"></div>
                        </div>
                    </div>
                </div>
                <div class="hePnaS">
                    <div class="qSKwc">
                        <div class="iJnVjR">
                            <label for="activeIngredients">Active Ingredients</label>
                        </div>
                        <div class="bqFJvH">
                            <div class="hagSsM">
                                <div width="100%" class="ilpLeV">
                                    <span class="ivzsxx"></span>
                                    <input name="ing" placeholder="Search..." id="activeIngredients" class="hxkgST"
                                           value="{{ ing }}">
                                    <span class="fLrcjA"></span>
                                </div>
                            </div>
                            <div class="dNOhWF"></div>
                        </div>
                    </div>
                </div>
                <div class="hePnaS">
                    <div class="qSKwc">
                        <div class="iJnVjR"><label for="Indications">Indications</label>
                        </div>
                        <div class="bqFJvH">
                            <div class="hagSsM">
                                <div width="100%" class="ilpLeV">
                                    <span class="ivzsxx"></span>
                                    <input name="ind" placeholder="Search..." id="Indications" class="hxkgST" value="{{ ind }}">
                                    <span class="fLrcjA"></span></div>
                            </div>
                            <div class="dNOhWF"></div>
                        </div>
                    </div>
                </div>
                <div class="hePnaS">
                    <div class="qSKwc">
                        <div class="iJnVjR">
                            <label for="keyword">Keyword</label>
                        </div>
                        <div class="bqFJvH">
                            <div class="hagSsM">
                                <div width="100%" class="ilpLeV">
                                    <span class="ivzsxx"></span>
                                    <input name="keys" placeholder="Search..." id="keyword" class="hxkgST" value="{{ keys }}">
                                    <span class="fLrcjA"></span></div>
                            </div>
                            <div class="dNOhWF"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" hXkywv">
                <div display="flex" class=" hWLNYN">
                    <div class=" bQbVud">
                        {#<a target="_blank" href="http://www.hkdu.org/">Search more</a>#}
                        <button class=" hkBURO"><span class="fjQIzu">Submit</span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class=" ezYoGz">
        <div class="gcrakC">
            <div display="flex" class="fSsnif">
                {% for drug in drug_search %}
                <div width="1,0.3333333333333333" class="eBeRpv">
                    <a class=" gsvDvo" href="{{ path('entity.drug_search.canonical', {'drug_search': drug.id.value}) }}">
                        <div style="background-image: url({{ drug.field_thumb.entity.field_media_image.entity.uri.value | image_style('original') }})" class="eRqUIg"></div>
                        <div class="kZuHUf">
                            <div class="isAOXn">
                                <div><h3 class="flCmuI">{{ drug.name.value }}</h3>
                                    <p class="itSPxh">{{ drug.field_active_ingredients.value }}</p>
                                </div>

                            </div>
                        </div>
                    </a>
                    <div class="eclIQj drug-search list-tags">
                        <div width="100%" class="gPcWZD">
                            {% for tagEntity in  drug.field_drug_classification %}
                                <a href="/e-pharm/drug-search?tags={{ tagEntity.entity.name.value }}"
                                   class="iyiBrq">{{ tagEntity.entity.name.value }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endif %}
