{#
/**
 * @file about.html.twig
 * Default theme implementation to present Default entity data.
 *
 * This template is used when viewing Default entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_about()
 *
 * @ingroup themeable
 */
#}

    <div class="Grid__Box-f9ujw0-0 List__FilterBox-vdcued-0 fJCdzw">
        <form class=hnOCtg" action="/e-pharm/drug-search" method="get">
            <div display="flex" class="hZIrar">
                <div class="hePnaS">
                    <div class="qSKwc">
                        <div class="iJnVjR">
                            <label for="name">Name</label>
                        </div>
                        <div class="bqFJvH">
                            <div class="hagSsM">
                                <div width="100%" class="ilpLeV">
                                    <span class="ivzsxx"></span>
                                    <input name="name" placeholder="Search..." id="name" class="hxkgST"
                                           value="{{ name }}">
                                    <span class="fLrcjA"></span>
                                </div>
                            </div>
                            <div class="dNOhWF"></div>
                        </div>
                    </div>
                </div>
                <div class="hePnaS">
                    <div class="qSKwc">
                        <div class="iJnVjR">
                            <label for="activeIngredients">Active Ingredients</label>
                        </div>
                        <div class="bqFJvH">
                            <div class="hagSsM">
                                <div width="100%" class="ilpLeV">
                                    <span class="ivzsxx"></span>
                                    <input name="ing" placeholder="Search..." id="activeIngredients" class="hxkgST"
                                           value="{{ ing }}">
                                    <span class="fLrcjA"></span>
                                </div>
                            </div>
                            <div class="dNOhWF"></div>
                        </div>
                    </div>
                </div>
                <div class="hePnaS">
                    <div class="qSKwc">
                        <div class="iJnVjR"><label for="Indications">Indications</label>
                        </div>
                        <div class="bqFJvH">
                            <div class="hagSsM">
                                <div width="100%" class="ilpLeV">
                                    <span class="ivzsxx"></span>
                                    <input name="ind" placeholder="Search..." id="Indications" class="hxkgST" value="{{ ind }}">
                                    <span class="fLrcjA"></span></div>
                            </div>
                            <div class="dNOhWF"></div>
                        </div>
                    </div>
                </div>
                <div class="hePnaS">
                    <div class="qSKwc">
                        <div class="iJnVjR">
                            <label for="keyword">Keyword</label>
                        </div>
                        <div class="bqFJvH">
                            <div class="hagSsM">
                                <div width="100%" class="ilpLeV">
                                    <span class="ivzsxx"></span>
                                    <input name="keys" placeholder="Search..." id="keyword" class="hxkgST" value="{{ keys }}">
                                    <span class="fLrcjA"></span></div>
                            </div>
                            <div class="dNOhWF"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left hXkywv">
                <div display="flex" class="left">
                    <div class=" bQbVud">
                        <a class="advance-search" href="#">Advance Search</a>
                    </div>
                </div>
            </div>
            <div class=" hXkywv">
                <div display="flex" class=" hWLNYN">
                    <div class=" bQbVud">
                        <button class=" hkBURO"><span class="fjQIzu">Submit</span></button>
                    </div>
                </div>
            </div>
        </form>
        <div id="avandce_search" class="advance_search_detail" style="display: none">
            <form method="get" action="/e-pharm/drug-search/search" _lpchecked="1">
                <input type="hidden" name="form" value="4"><p> <select class="hxkgST" name="db" size="1">
                        <option selected="" value="PubMed">PubMed</option>
                        <option value="PubMed"> GenBank DNA Sequences </option>
                        <option value="Nucleotide">Nucleotide</option>
                        <option value="Protein">Protein</option>
                        <option value="Genome">Genome</option>
                        <option value="Structure">Structure</option>
                        <option value="PMC">PMC</option>
                        <option value="Taxonomy">Taxonomy</option>
                        <option value="OMIM">OMIM</option>
                        <option value="Books">Books</option>
                    </select>
                    <input class="hxkgST" placeholder="For..." name="term" size="45" value=""> <small><br>
                        <span class="title">Number of documents to display per page: </span><select class="hxkgST" name="dispmax" size="1">
                            <option> 10 </option>
                            <option selected=""> 20 </option>
                            <option> 50 </option>
                            <option> 100 </option>
                            <option> 200 </option>
                            <option> 1000 </option>
                            <option> 2000 </option>
                            <option> 5000 </option>
                        </select> <br>
                        <span class="title">Entrez Date limit: </span><select class="hxkgST" name="relentrezdate" size="1">

                            <option>30 Days </option>
                            <option>60 Days </option>
                            <option>90 Days </option>
                            <option>180 Days </option>
                            <option>1 Year </option>
                            <option>2 Years </option>
                            <option>5 Years </option>
                            <option>10 Years </option>
                            <option selected="">No Limit </option>
                        </select> </small></p>
                <div class=" bQbVud">
                    <button type="submit" class=" hkBURO"><span class="fjQIzu">Search</span></button>
                </div>
            </form>
        </div>
    </div>

    <div class=" ezYoGz">
        <div class="gcrakC">
            <div display="flex" class="fSsnif">
                {% if drug_search %}
                {% for drug in drug_search %}
                <div width="1,0.3333333333333333" class="eBeRpv event {{ loop.index }}
            {% if loop.index%3 ==0 %} end {% endif %}">
                    <a class=" gsvDvo" href="{{ path('entity.drug_search.canonical', {'drug_search': drug.id.value}) }}">
                        <div style="background-image: url({{ drug.field_thumb.entity.field_media_image.entity.uri.value | image_style('original') }})" class="eRqUIg"></div>
                        <div class="kZuHUf">
                            <div class="isAOXn">
                                <div><h3 class="flCmuI">{{ drug.name.value }}</h3>
                                    <p class="itSPxh">{{ drug.field_active_ingredients.value }}</p>
                                </div>

                            </div>
                        </div>
                    </a>
                    <div class="eclIQj drug-search list-tags">
                        <div width="100%" class="gPcWZD">
                            {% for tagEntity in  drug.field_drug_classification %}
                                <a href="/e-pharm/drug-search?tags={{ tagEntity.entity.name.value }}"
                                   class="iyiBrq">{{ tagEntity.entity.name.value }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                    {% else %}
                <p>No results found.</p>
                {% endif %}

            </div>
        </div>
    </div>

