<div style="margin-top: 20px;" class="hFkgUL">
    <div display="block" class="flTYXC">
        <div class="gcrakC">
            <div display="flex" class="fSsnif">
                {% for org in orgs %}
                    <div class="iRgpNO">
                        <a variant="vertical" class="kBceAS"
                           href="{{ path('entity.event_org.canonical', {'event_org': org.id.value}) }}">
                            <div class="eOFNUV" style="background-image: url({{ org.field_media.entity.field_media_image.entity.uri.value | image_style('original') }})"></div>
                            <div class="kZuHUf">
                                <div class="isAOXn">
                                    <div><h3 class=" flCmuI">{{ org.name.value }}</h3></div>
                                    <div class=" eclIQj"></div>
                                </div>
                                <div class="hFnlYM">
                                    <ul class=" eNSAVL">
                                        <li class="lbZLFv">
                                            <i name="phone" font-size="icon" color="icon"
                                               class="fa fa-phone-alt"></i>
                                            <span class=" hMzfje">{{ org.field_phone.value }}</span>
                                        </li>
                                        <li class="lbZLFv">
                                            <i name="location" font-size="icon" color="icon" class="fa fa-map-marker-alt"></i>
                                            <span class=" hMzfje">{{ org.field_address.value }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
