<article{{ attributes.addClass(classes) }}>
    <div class="ekkoDz">
        <div class="eFGCwC"><img style="max-width:100%"
                                 src="{{ pharm_dir.field_media.entity.field_media_image.entity.uri.value | image_style('original') }}"/>
        </div>
        <h2 class=" ijKZUF">{{ pharm_dir.name.value }}</h2>
        {% if pharm_dir.field_file is not empty %}
            <div class="Grid__Box-f9ujw0-0 bBnAZb">
                <div display="block,flex" class="cWPhzd">
                    <div width="100%,236" class="Grid__Box-f9ujw0-0 MedicalContent__RowLabel-sc-1jlbeob-2 jBxOzO">File
                        for
                        Download
                    </div>
                    <div class="gKKegu">
                        <div class="kCsMFd">
                            <div display="flex" class="fSsnif">
                                <div width="1,0.3333333333333333" class="culkFL">
                                    <a target="_blank" height="120px"
                                       href="{{ file_url(pharm_dir.field_file.entity.field_media_document.entity.uri.value) }}"
                                       class="htzoqv">
                                        <div class="kZuHUf">
                                            <div class="isAOXn">
                                                <div>
                                                    <h3 class="flCmuI">{{ pharm_dir.field_file.entity.field_media_document.entity.filename.value }}</h3>
                                                </div>
                                                <div class="eclIQj">
                                                    <div class="jamtIE" width="100%"><span
                                                                rel="noopener" target="_blank" color="#4A90E2"
                                                                font-size="13px"
                                                                class="fLaWbo">
                                    <i font-size="20" name="LINK" color="icon" class="fal fa fa-paperclip"></i>

                                </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="fSioVs">
            <div display="block,flex" class="bXXHPz">
                <div width="100%,236" class="jBxOzO">E-mail</div>
                <div class="hnOpua"><a href="mailto:{{ pharm_dir.field_email.value }}"
                                       class="iIttWr">{{ pharm_dir.field_email.value }}</a>
                </div>
            </div>
            <div display="block,flex" class="bXXHPz">
                <div width="100%,236" class="jBxOzO">Website</div>
                <div class="hnOpua">
                    <a href="{{ pharm_dir.field_website.value }}" target="_blank" rel="noopener"
                       class="iIttWr">{{ pharm_dir.field_website.value }}</a>
                </div>
            </div>
            <div display="block,flex" class="bXXHPz">
                <div width="100%,236" class="jBxOzO">Phone</div>
                <div class="hnOpua">{{ pharm_dir.field_phone.value }}</div>
            </div>
            <div display="block,flex" class="bXXHPz">
                <div width="100%,236" class="jBxOzO">Fax</div>
                <div class="hnOpua">{{ pharm_dir.field_fax.value }}</div>
            </div>
            <div display="block,flex" class="bXXHPz">
                <div width="100%,236" class="jBxOzO">Address</div>
                <div class="hnOpua">{{ pharm_dir.field_address.value }}
                </div>
            </div>
            <div class="fSioVs">
                <div class="jvveZx">
                    {{ pharm_dir.field_description.value|raw }}
                </div>
            </div>
            {% if pharm_dir.field_order_form_pdf is not empty  or pharm_dir.field_order_form is not empty %}
            <div display="block,flex" class="bXXHPz">
                <div width="100%,236" class="jBxOzO">Order Form
                </div>
                <div class="hnOpua">
                    <div display="flex" class="doLCQt">
                        {% if pharm_dir.field_order_form_pdf is not empty %}
                            <a href="{{ file_url(pharm_dir.field_order_form_pdf.entity.field_media_document.entity.uri.value) }}"
                               rel="noopener" target="_blank" class="iIttWr">
                                <button disabled="" class="hOzyft"><span
                                            class="fjQIzu">Download</span></button>
                            </a>
                        {% endif %}
                        {% if pharm_dir.field_order_form is not empty %}
                            <a href="mailto:{{ pharm_dir.field_order_form.value }}"
                               class="iIttWr">
                                <button class="hkBURO"><span
                                            class="fjQIzu">Email</span></button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if pharm_dir.field_price_list_pdf is not empty  or pharm_dir.field_price_list is not empty %}
            <div display="block,flex" class=" bXXHPz">
                <div width="100%,236" class="jBxOzO">Price List
                </div>
                <div class=" hnOpua">
                    <div display="flex" class="doLCQt">
                        {% if pharm_dir.field_price_list_pdf is not empty %}
                            <a href="{{ file_url(pharm_dir.field_price_list_pdf.entity.field_media_document.entity.uri.value) }}"
                               rel="noopener" target="_blank" class="iIttWr">
                                <button disabled="" class="hOzyft"><span
                                            class="fjQIzu">Download</span></button>
                            </a>
                        {% endif %}
                        {% if pharm_dir.field_price_list is not empty %}
                            <a href="mailto:{{ pharm_dir.field_price_list.value }}"
                               class="iIttWr">
                                <button class="hkBURO"><span
                                            class="fjQIzu">Email</span></button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if pharm_dir.field_department is not empty %}
                <div display="block,flex" class="bXXHPz">
                    <div width="100%,236" class="jBxOzO">Sales Contact Directory
                    </div>
                </div>
                <div class="department">
                    {% for para in pharm_dir.field_department %}
                        <div display="block,flex" class=" bXXHPz">
                            <div display="flex" class="doLCQt">
                                <div width="100%,236" class="jBxOzO">{{ para.entity.field_department_name.value }}
                                </div>

                                {% if para.entity.field_document is not empty %}
                                    <a class="sale-left" href="{{ file_url(para.entity.field_document.entity.field_media_document.entity.uri.value) }}"
                                       rel="noopener" target="_blank" class="iIttWr">
                                        <button class="hkBURO"><span
                                                    class="fjQIzu">Download</span></button>
                                    </a>

                                 {% else %}
                                     <a class="sale-left" href="#"
                                        rel="noopener" target="_blank" class="iIttWr">
                                         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     </a>
                                {% endif %}

                                {% if para.entity.field_email is not empty %}
                                    <a class="sale-right" href="mailto:{{ para.entity.field_email.value }}"
                                       class="iIttWr">
                                        <button class="hkBURO"><span
                                                    class="fjQIzu">Request Sales Visit</span></button>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="fSioVs"></div>
    </div>
</article>