<div class="jWxJo">
    {% if taxonomy %}
        {% for term in taxonomy %}
            <div class="gEzcmW">
                <a href="/gallery/category/{{ term.tid.value }}">
                    <div style="background-image: url({{ term.field_media[0].entity.field_media_image.entity.uri.value | image_style('max_325x325') }})"
                         class="cmYSky">
                    </div>
                </a>
                <div class="biunsS">{{ term.name.value }}</div>
                <div class="ktLFkQ">{{ term.field_date.value }}</div>
            </div>
        {% endfor %}
    {% endif %}
    {% for gallery in gallerys %}
        <div class="gEzcmW">
            <a href="{{ path('entity.gallery.canonical', {'gallery': gallery.id.value}) }}">
                <div style="background-image: url({{ gallery.field_media[0].entity.field_media_image.entity.uri.value | image_style('max_325x325') }})"
                     class="cmYSky">
                </div>
            </a>
            <div class="biunsS">{{ gallery.name.value }}</div>
            <div class="ktLFkQ">{{ gallery.field_date.value }}</div>
        </div>
    {% endfor %}

</div>