{% if clinical_focus %}
    <div class="leBAWZ about-home">
        <div class="dacuFr">
            <div display="flex" class="dUVjnM">
                <div class="ffcmhf">Clinical Focus</div>
                <a variant="default" class="jzqdsa" href="/e-pharm/clinical-focus"><span
                            class="fjQIzu">More</span></a></div>
        </div>
        <div display="flex" class="cFlllN">
            {% for drug in clinical_focus %}
                <div width="1,0.3333333333333333" class="bwndEN event {{ loop.index }}
            {% if loop.index%3 ==0 %} end {% endif %}"><a class=" gsvDvo"
                                                          href="{{ path('entity.clinical_focus.canonical', {'clinical_focus': drug.id.value}) }}">
                        <div style="background-image:
                        {% if drug.field_thumbnail is not empty %}
                                url({{ drug.field_thumbnail.entity.field_media_image.entity.uri.value | image_style('original') }})
                                {% else %}
                             url({{ drug.field_media.entity.field_media_image.entity.uri.value | image_style('original') }})
                        {% endif %}
                                "
                             class="dCVoiR"></div>
                        <div class="kZuHUf">
                            <div class="jdoHDE">
                                <div class="cLNuli">
                                    <div class="fwejcs">
                                        {#<div class="iFBalX"></div>#}
                                        {{ drug.Owner.name.value }}
                                    </div>
                                    <span class="kVIvyA">{{ drug.field_publish_date.value|date("Y-m-d") }}</span></div>
                            </div>
                            <div class="isAOXn">
                                <div>
                                    <h3 class="flCmuI">{{ drug.name.value }}</h3>
                                    <p class="itSPxh">{{ drug.field_description.value|striptags|raw }}</p></div>
                            </div>
                        </div>
                    </a>
                    <div class=" new-home list-tags eclIQj">
                        <div class="gPcWZD">
                            {% for tagEntity in  drug.field_tags %}
                                <a href="/news?tags={{ tagEntity.entity.name.value }}"
                                   class="iyiBrq">{{ tagEntity.entity.name.value }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endif %}
