<!-- Add you custom twig html here -->
<div display="flex" class="dYgNtr">
        <form action="/cme/quiz/test/{{ quiz.id.value }}" method="post" name="quiz_test">
            {% for question in questions %}
                <div class="dDPfwp">
                    <div class="kHgOap">
                        <span class="gvmZok">Q{{ loop.index }}</span></div>
                    <div class="gdnuxf">{{ question.question.name.value }}</div>
                    <div class="gdnuxf">{{ question.question.field_question.value }}</div>
                    <div class="cWWxaz">
                        <div class="kBLJXs">
                            {{ question.type|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="submit-button">
                <input class="submit-btn" type="submit" name="submit" value="Submit"/>
            </div>
        </form>
</div>
